<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Righteous" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/reset.css">
    <style media="screen">
      body{
        font-family: 'Bree Serif', serif;
      }
    </style>
  </head>
  <body>
    <div class="page-container">
        <div class="side-bar">
          <div class="header">
            <div class="logo">Cabin</div>
          </div>
          <ul class="menu">

            <li class="has-children">
              <input type="checkbox" name="menu-list-1" value="" id="menu-list-1">

              <label for="menu-list-1"><i class="fas fa-caret-down"></i>Menu-1</label>
              <ul style="background: #1c1f22;">
                <li><a href="#">List 1</a></li>
                <li><a href="#">List 2</a></li>
              </ul>
            </li>

            <li class="has-children">
              <input type="checkbox" name="menu-list-2" value="" id="menu-list-2">

              <label for="menu-list-2"><i class="fas fa-caret-down"></i>Menu-1</label>
              <ul>
                <li><a href="#">List 1</a></li>
                <li><a href="#">List 2</a></li>
              </ul>
            </li>

            <li class="has-children">
              <input type="checkbox" name="menu-list-3" value="" id="menu-list-3">

              <label for="menu-list-3"><i class="fas fa-caret-down"></i>Menu-1</label>
              <ul>
                <li><a href="#">List 1</a></li>
                <li><a href="#">List 2</a></li>
              </ul>
            </li>

          </ul>
          <button type="add-event" name="add-event" class="add-event">Add Event</button>
        </div>
        <div class="main-wrapper">
          <div class="top-bar">

          </div>
        </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/home.js"></script>
</html>
